.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav ul {
  list-style: none;
  display: flex;
  gap: 4rem;
}

.nav a:link,
.nav a:visited {
  text-decoration: none;
  color: var(--color-light--2);
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 600;
}

.nav a:hover {
  color: var(--color-brand--2);
}

a.login_btn:link,
a.login_btn:visited {
  background-color: var(--color-brand--2);
  padding: 0.7rem 2rem;
  border-radius: 8px;
  color: black;
}
